.food-attendance-container1{
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color:rgba(255,255,255,);
  border-radius: 10px;
  
  background-image: url("https://imgcdn.stablediffusionweb.com/2024/6/19/0cc89d13-61db-402c-abf5-b4ed192ea025.jpg"); /* ✅ Put your image in public/images/bg.jpg */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



.food-form1 {
  margin-bottom: 25px;
  background-color:rgba(14, 87, 190, 0.8);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.food-form1 label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.food-form1 select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.meal-box1 {
  background-color: #0077ff;

  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 16px;
}

button {
  max-width: 200px;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 6px;
  background-color: #0077ff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background-color: gray;
}
button:not(:disabled):hover {
  background-color:#0cd209;
}
button:active {
  background-color: #c23008;
  transform: scale(0.98);
}

.message1 {
  margin-top: 10px;
  font-weight: bold;
}

.special-today-section1 {
  background-color: #fff8f0;
  padding: 15px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.special-today-section1 ul {
  list-style-type: none;
  padding-left: 0;
}

.special-today-section1 li {
  margin: 6px 0;
  font-size: 16px;
}

.student-attendance1 {
  margin-top: 25px;
  background-color: #6e92ba;
  border-radius: 2rem;

}

.meal-item1 {
  background-color: #0077ff;
 margin-bottom: 12px;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}
p{
  border-radius: 2rem;
}